<nav class="bg-light border navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <span><img src="/img/logo9.png" alt="img" class="img-fluid" style="max-width: 90px; height: auto;"></span>
      <span class="blue fs-5 fs-md-4 fs-lg-3">VAN NGUYEN's</span><span class="red fs-5 fs-md-4 fs-lg-3"> PORTFOLIO</span>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mt-2 nav">
        <li class="nav-item <%= title === 'Home' ? 'active' : '' %>">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item <%= title === 'About' ? 'active' : '' %>">
          <a class="nav-link" href="/Resume.pdf" onclick="openInNewWindow('/Resume.pdf'); return false;">Resume</a>
        </li>
        <li class="nav-item <%= title === 'Projects' ? 'active' : '' %>">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item <%= title === 'Services' ? 'active' : '' %>">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item <%= title === 'Contact' ? 'active' : '' %>">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  function openInNewWindow(url) {
    window.open(url, '_blank', 'width=600,height=400');
  }
</script>
