<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">

    <h1 class="tcenter">Welcome to <%= title %> Me Page</h1>
    <div class="alert alert-info textsize relative">
        
        <div class="div1">
        <img src="img/ProfilePicture.jpg" height="100%" widht="100%" alt="ProfilePicture">
        </div>
        <div class="div2">
        <h2 class="tcenter">Education</h2>
        <p>I'm Van Nguyen, currently in my third semester of Software Engineering Technology at Centennial College. I bring a strong background in software development, relational databases, and problem-solving skills. My expertise includes Python, web programming languages, and C.</p>
        <h2 class="tcenter">Qualifications</h2>
        <ul>
            <li> Strong analytical skills, attention to detail, and problem-solving abilities.</li>
            <li> Proficient in web development with expertise in utilizing frameworks such as ASP.NET, the MERN stack with TypeScript and JavaScript, Fask and Django</li>
            <li> Familiarity with databases, including Azure SQL with Entity Framework, Oracle SQL, MySQL and MongoDB and hands-on experience in data analysis.</li>
            <li> Proven proficiency in Git for version control and demonstrated comfort working in a collaborative Agile environment. </li>
            <li> Excellent communication and interpersonal skills developed through coursework and projects. </li>
            <li> Track record of implementing, troubleshooting, and thoroughly documenting software solutions, utilizing Git for version control, unit testing, and other best practices.</li>
        </ul>

        </div>
    </div>

    <div class="alert alert-info textsize">
        <h2 class="tcenter">Certifications and Trainings</h2>
        <ul>
            <li><a href="https://learn.microsoft.com/api/credentials/share/en-us/VanDaiNghiaNguyen-9551/10A7734056D5D47B?sharingId=10117741F7D81AAF">AZ-900 Microsft Azure Fundamentals </a></li>
            <li>Advanced CS50’s Web Programming with Python and JavaScript | Completed 75%+ problem sets | Harvard University</li>
            <li><a href="https://certificates.cs50.io/21dfe796-797e-4ef1-be9b-513f1383b4ba.pdf?size=letter">CS50 Certificate obtained by scoring at least 70% on all problem sets and final projects | Harvard University | David J. Malan </a></li>
            <li><a href="https://www.udemy.com/certificate/UC-581104fe-8efd-4429-8bd1-22a8ee062156/">Udemy | The Complete JavaScript Course | Wordle, Blackjack, solved 100 JavaScript problems | Jonas Schmedtmann </a></li>
        </ul> 
    </div>
    <div class="alert alert-info textsize">
        <h2 class="tcenter">Programming Languages, Frameworks & Tools</h2>
        <ul>
            <li><b>Experienced:</b> Python, JavaScript, C#, Kotlin, HTML5/CSS, Sqlite3, Oracle SQL, MySQL, MongoDB, Linux, Java, JavaFX</li>
            <li><b>Familiar:</b> C++, C, Scratch, Agile, MATLAB, LabVIEW</li>
            <li><b>Frameworks, Libraries & Tools:</b> ASP.NET, MERN Stack, Flask, Django, CS50 IDE, Visual Studio, VS Code, Android Studio, Anaconda, Spyder, Postman, Visual Paradigm, Visio, Git, GitHub, React, Nodejs, CRUD APIs, RESTful APIs</li>
        </ul>
    </div>
    <div class="alert alert-info textsize">
        <a href="/Resume.pdf"><h2 class="tcenter">Download My Resume (pdf)</h2></a>
    </div>
</div>
<div class="height350"></div>
</main>
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   