<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
    <div class="jumbotron">
        <h1 class="tcenter">Welcome to My <%= title %> Page</h1>

        <!-- Unified Trading Web Application Section -->
        <div class="alert alert-info textsize">
            <h2 class="tcenter">Trading Web Application</h2>
            <p>Founder, Toronto, ON - Dec 2023. A dynamic application leading to a 50% increase in trading activities and over 100 active users in three months. Featuring comprehensive database management and real-time stock updates for enhanced user experience.</p>
            <p><strong>Key Technologies:</strong> ASP.NET, Azure SQL, Entity Framework, TypeScript, React TSX 
                <br> <strong>Flask Stack:</strong>  Python, SQLite3, Boostrap, JavaScript, HTML, CSS, AWS.</p>
            <a href="https://tradingwebasp.azurewebsites.net/">Live Demo (ASP.NET Version)</a> | <a href="https://github.com/vdnnguyen94/ASPReactTypeScript">GitHub Repository (ASP.NET Version)</a>
            <br>
            <a href="https://vannguyentrading.dev/">Live Demo (Flask Version)</a> | <a href="https://github.com/vdnnguyen94/web">GitHub Repository (Flask Version)</a>
        </div>
        
        <div class="alert alert-info textsize">
            <h2 class="tcenter">Survey Web Application</h2>
            <p>Overcoming the challenge of managing diverse survey questions through a robust MongoDB schema, leading to 150 unique surveys and over 20,000 responses in six months. Enhanced security and user engagement through meticulous design and analytics.</p>
            <p><strong>Key Technologies:</strong> MongoDB, Express TS, React TSX, Node TS, CRUD and RESTful API, Middleware with JWT Token.</p>
           
            <p><strong>Try my Survey App (TypeScript Version):</strong> <a href="https://surveytypescript.onrender.com/">Demo Link</a> | <a href="https://github.com/vdnnguyen94/SurveyTypeScript">GitHub Repository</a></p>
            <p><strong>Try my Survey App (JavaScript Version):</strong> <a href="https://surveyappvannguyen.onrender.com/">Demo Link</a> | <a href="https://github.com/vdnnguyen94/SurveyAppGroup1">GitHub Repository</a></p>
            <h2 class="tcenter">Watch my Demo</h2>
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kCOguOAAh1s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div> 
        <!-- Unified Survey Web Application Section -->
        <div class="alert alert-info textsize">
            <h2 class="tcenter">Banking App</h2>
            <h3>C# | ASP.NET | OOP | JSON | MySQL</h3>
            <h4>Enhanced Features:</h4>
            <p>Setting up Database Connection with SQL.</p>
            <p>Users can now create both checking and savings accounts.</p>
            <p>Performing transactions such as withdrawal and deposit directly into their accounts.</p>
            <p>Real-time update of customer balances.</p>
            <h4>New Features:</h4>
            <p>Bank officer credentials are securely stored in a JSON file.</p>
            <p>Bank officers have the ability to search for customer banking information.</p>
            <p>Bank officers can perform various banking operations on behalf of customers.</p>
        </div>
    </div>
    <div class="height350"></div>
</main>
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
