<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">

    <h1 class="tcenter">Welcome to <%= title %> Page</h1>
    <div class="alert alert-info textsize">
        <h2 class="tcenter">Trading Web Application</h2>
        <h3>Python | Sqlite3 | Flask | API | Git | Linux | AWS | HTML | JavaScript | CSS </h3>
            <p>Enforcing client-side and server-side validations for registering account, signing in, buying, and selling stocks</p>
            <p>Using Google and Yahoo Finance API to obtain stock price and company name from stock symbol </p>
            <p>Automatic updating customers&apos; stock portfolio data </p>
            <p>Strong database design for users&apos; accounts, users&apos; stocks, and transactions history</p>
        </ul>
        <a href="https://vannguyen.dev/"><h2 class="tcenter">Try My Trading Web: Live Stock Price, Bonus $10,000 for your portfolio</h2></a>
    </div>
    <div class="alert alert-info textsize">
        <h2 class="tcenter">Online Encyclopedia</h2>
        <h3>Python | Django| Markdown | Search | CSRF | HTML | JavaScript | CSS </h3>
            <p><strong>Index Page:  </strong>Besides listing the names of all pages in the encyclopedia, user can click on any entry name to be taken directly to that entry page.</p>
            <p><strong>Search: </strong>Allow the user to type a query into the search box in the sidebar to search for an encyclopedia entry</p>
            <p><strong>New Page: </strong>Clicking “Create New Page” in the sidebar should take the user to a page where they can create a new encyclopedia entry.</p>
            <p><strong>Edit Page: </strong>On each entry page, the user should be able to click a link to be taken to a page where the user can edit that entry’s Markdown content in a textarea.</p>
            <p><strong>Markdown to HTML Conversion: </strong>On each entry&apos;s page, any Markdown content in the entry file should be converted to HTML before being displayed to the user. </p>

        <div class="tcenter"> 
            <a href="https://youtu.be/ySPbYByyBko?si=fOh78vIzECADk86g"><h2 class="tcenter">Watch my Youtube Demo</h2></a>
            <iframe class="tcenter" width="560" height="315" src="https://www.youtube.com/watch?si=qjPCBmcK7_CxhXE_&v=ySPbYByyBko&feature=youtu.be&ab_channel=NghiaNguyen" frameborder="0" allowfullscreen></iframe>

        </div>
    </div>
    <div class="alert alert-info textsize">
        <h2 class="tcenter">Banking App</h2>
        <h3>C# | .NET | OOP | JSON </h3>
            <p>Loading customer accounts from JSON file </p>
            <p>Allowing customer to register new bank account and log in </p>
            <p>Performing withdrawal and deposit transactions </p>
            <p>Updating customer balance </p>
            <p>Storing customer accounts into JSON file </p>
    </div>
</div>
<div class="height350"></div>
</main>
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   